<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- remoting -->
    <bean class="org.rpc.remoting.netty.NettyServiceAbstract" >
        <property name="port" value="9100" />
    </bean>

    <!-- service -->
    <bean class="org.rpc.example.server.HelloServiceImpl"/>

</beans>