<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.rpc.rpc.RpcClient" >
        <constructor-arg>
            <bean class="org.rpc.comm.UnresolvedAddress" >
                <constructor-arg name="host" value="127.0.0.1"/>
                <constructor-arg name="port" value="9100"/>
            </bean>
        </constructor-arg>
    </bean>

</beans>